<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Sign in</title>
        <meta name="description" content="Login Page for Task App" />
        <link rel="shortcut icon" href="https://picocss.com/favicon.ico" />
        <link rel="canonical" href="https://picocss.com/examples/sign-in/" />

        <!-- Pico.css -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />

        <!-- Custom styles for this example -->
        <!-- <link rel="stylesheet" href="custom.css" /> -->
    </head>

    <body>
    <!-- Nav -->
        <nav class="container-fluid">
            <ul>
                <li>
                    <a href="./" class="contrast" onclick="event.preventDefault()"><strong>TaskApp</strong></a>
                </li>
            </ul>
        </nav>
    <!-- ./ Nav -->

    <!-- Main -->
    <main class="container">
        <article class="grid">
            {% if error %}
                <p class='error'>{{ error }}</p>
            {% endif %}
            <div>
                <hgroup>
                <h1>Welcome to TaskApp!</h1>
                <h2>Sign up</h2>
                </hgroup>
                <form method="post">
                    <input
                        type="text"
                        name="name"
                        placeholder="Name"
                        aria-label="name"
                        autocomplete="nickname"
                        required
                    />
                    <input
                        type="email"
                        name="email"
                        placeholder="Email"
                        aria-label="email"
                        autocomplete="name@email.com"
                        required
                    />
                    <input
                        type="password"
                        name="password"
                        placeholder="Password"
                        aria-label="Password"
                        autocomplete="current-password"
                        required
                    />
                    <fieldset>
                        <label for="remember">
                        <input type="checkbox" role="switch" id="remember" name="remember" />
                        Remember me
                        </label>
                    </fieldset>
                    <button type="submit" class="contrast">Sign Up</button>
                </form>
                <small>
                    <p>Already have an account? <a href="{{ url_for('login') }}">Sign in here!</a></p>
                </small>       
            </div>
        <div></div>
        </article>
    </main>
    <!-- ./ Main -->

    <!-- Footer -->
    <footer class="container-fluid">
        <!-- <small
        >Built with <a href="https://picocss.com" class="secondary">Pico</a> •
        <a href="https://github.com/picocss/examples/tree/master/v1-sign-in/" class="secondary"
            >Source code</a
        ></small
        > -->
    </footer>
    <!-- ./ Footer -->

    <!-- Minimal theme switcher -->
    </body>
    </html>
